<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Albüm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <style>
      table, td, th {
     border: 2px solid yellow;
 }
 
 th {
     background-color: pink;
     color: white;
 }
     </style>
</head>

<body>

  
   <div class="container card mt-5">
            <table  class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">ALBÜM İD</th>
                        <th scope="col">ALBÜM ADI</th>
                        <th scope="col">ÇIKIŞ TARİHİ</th>
                        <th scope="col">SANATCI İD</th>
                        <th scope="col">MUZİK TÜRÜ İD</th>
                        <th scope="col">GÜNCELLE</th>
                        <th scope="col">SİL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <a href="albumekle" class="button is-info" style="margin-left:950px;">Albüm Ekle</a>
                            <% data.forEach(function(item){ %>
                              
                                <tr>
                                        <th scope="row"> <%=item.AlbumId%></th>
                                        <td> <%=item.AlbumAdi%></td>
                                        <td> <%=item.CikisTarihi%></td>
                                        <td> <%=item.SanatciId%></td>
                                        <td> <%=item.MuzikTurId%></td>
                                        <td> <a style="background:aqua;"  href="albumGuncelle?id=<%=item.AlbumId%>" class="button is-primary">Güncelle</a>
                                        <td>
                                          <button style="background:yellow;"  class="button is-primary modal-button" data-id="<%=item.AlbumId%>" data-target="#myModal" aria-haspopup="true">Sil</button>
                                        </td>
                              <% }); %>
                    
                     
                    </tbody>
                  </table>
       
    </div> 
    <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box">Silmek istediğinizden emin misiniz ?
          </div>
          <a class="button is-danger deleteBtn"> Sil  </a>
          <a class="button is-dark" href="album">iptal</a>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>

    <script type="text/javascript">
      document.querySelectorAll('.modal-button').forEach(function(el) {
         el.addEventListener('click', function() {
           var target = document.querySelector(el.getAttribute('data-target'));
           
          var deleteBtn = target.querySelector('.deleteBtn');
          deleteBtn.setAttribute('href', 'albumSil?id=' + el.getAttribute('data-id'));

           target.classList.add('is-active');
           target.querySelector('.modal-close').addEventListener('click',   function() {
               target.classList.remove('is-active');
           });
         });
       });
   </script>
</body>

</html>